CONFIG_PACKAGE_dropbear=y
CONFIG_DROPBEAR_ECC=y
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_fcgi=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_UNICODE_SUPPORT=y
CONFIG_BUSYBOX_CONFIG_UNICODE_COMBINING_WCHARS=y
CONFIG_BUSYBOX_CONFIG_UNICODE_WIDE_WCHARS=y
CONFIG_BUSYBOX_CONFIG_UNICODE_BIDI_SUPPORT=y
CONFIG_BUSYBOX_CONFIG_UNICODE_NEUTRAL_TABLE=y
CONFIG_BUSYBOX_CONFIG_UNICODE_PRESERVE_BROKEN=y
CONFIG_BUSYBOX_CONFIG_FEATURE_WGET_TIMEOUT=y
CONFIG_BUSYBOX_CONFIG_FUSER=y
CONFIG_BUSYBOX_CONFIG_IPCRM=y
CONFIG_BUSYBOX_CONFIG_IPCS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FLOAT_SLEEP=y
CONFIG_BUSYBOX_CONFIG_NC_SERVER=y
CONFIG_BUSYBOX_CONFIG_NC_EXTRA=y
CONFIG_BUSYBOX_CONFIG_NC_110_COMPAT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TAR_OLDGNU_COMPATIBILITY=y
CONFIG_BUSYBOX_CONFIG_TIMEOUT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_BZ2=y
CONFIG_BUSYBOX_CONFIG_FEATURE_COMPRESS_USAGE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_UNDO=y
CONFIG_PACKAGE_lighttpd=y
CONFIG_PACKAGE_lighttpd-mod-access=y
CONFIG_PACKAGE_lighttpd-mod-cgi=y
CONFIG_PACKAGE_lighttpd-mod-expire=y
CONFIG_PACKAGE_lighttpd-mod-fastcgi=y
CONFIG_PACKAGE_lighttpd-mod-proxy=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-mod-rpc=y
CONFIG_LUCI_LANG_en=y
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_wpa-cli=y
CONFIG_PACKAGE_bridge=y
CONFIG_PACKAGE_wpad=y
CONFIG_PACKAGE_wget=y
CONFIG_PACKAGE_mwan3=y
CONFIG_PACKAGE_relayd=y
CONFIG_PACKAGE_stubby=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_kmod-nls-utf8=y
CONFIG_PACKAGE_kmod-nf-nathelper-extra=y
CONFIG_PACKAGE_libcares=y
