<table><thead><tr><th>Algorithm</th><th colspan="2">nvidia-tesla-k80</th><th colspan="2">nvidia-tesla-p4</th><th colspan="2">nvidia-tesla-t4</th><th colspan="2">nvidia-tesla-p100</th><th colspan="2">nvidia-tesla-v100</th></tr></thead>
<tbody>
<tr><td>0 - MD5</td><td>4.3 GH/s</td><td>100.0%</td><td>16.6 GH/s</td><td>382.4%</td><td>18.8 GH/s</td><td>432.9%</td><td>27.1 GH/s</td><td>622.2%</td><td>55.8 GH/s</td><td>1283.7%</td></tr>
<tr><td>100 - SHA1</td><td>1.9 GH/s</td><td>100.0%</td><td>5.6 GH/s</td><td>286.6%</td><td>6.6 GH/s</td><td>342.8%</td><td>9.7 GH/s</td><td>497.9%</td><td>17.5 GH/s</td><td>905.4%</td></tr>
<tr><td>1400 - SHA2-256</td><td>845.7 MH/s</td><td>100.0%</td><td>2.0 GH/s</td><td>238.6%</td><td>2.8 GH/s</td><td>334.8%</td><td>3.3 GH/s</td><td>389.5%</td><td>7.7 GH/s</td><td>904.8%</td></tr>
<tr><td>1700 - SHA2-512</td><td>230.3 MH/s</td><td>100.0%</td><td>672.5 MH/s</td><td>292.0%</td><td>789.9 MH/s</td><td>343.0%</td><td>1.1 GH/s</td><td>463.0%</td><td>2.4 GH/s</td><td>1039.9%</td></tr>
<tr><td>22000 - WPA-PBKDF2-PMKID+EAPOL (Iterations: 4095)</td><td>80.7 kH/s</td><td>100.0%</td><td>292.9 kH/s</td><td>363.0%</td><td>318.3 kH/s</td><td>394.5%</td><td>471.4 kH/s</td><td>584.2%</td><td>883.5 kH/s</td><td>1094.9%</td></tr>
<tr><td>1000 - NTLM</td><td>7.8 GH/s</td><td>100.0%</td><td>29.9 GH/s</td><td>385.2%</td><td>33.3 GH/s</td><td>429.7%</td><td>49.9 GH/s</td><td>643.7%</td><td>101.6 GH/s</td><td>1310.6%</td></tr>
<tr><td>3000 - LM</td><td>3.8 GH/s</td><td>100.0%</td><td>13.1 GH/s</td><td>347.8%</td><td>19.4 GH/s</td><td>514.2%</td><td>25.0 GH/s</td><td>661.9%</td><td>41.5 GH/s</td><td>1098.4%</td></tr>
<tr><td>5500 - NetNTLMv1 / NetNTLMv1+ESS</td><td>5.0 GH/s</td><td>100.0%</td><td>16.1 GH/s</td><td>322.6%</td><td>19.7 GH/s</td><td>395.6%</td><td>26.6 GH/s</td><td>533.0%</td><td>54.9 GH/s</td><td>1100.9%</td></tr>
<tr><td>5600 - NetNTLMv2</td><td>322.1 MH/s</td><td>100.0%</td><td>1.1 GH/s</td><td>349.9%</td><td>1.4 GH/s</td><td>439.4%</td><td>1.8 GH/s</td><td>567.5%</td><td>3.8 GH/s</td><td>1179.7%</td></tr>
<tr><td>1500 - descrypt, DES (Unix), Traditional DES</td><td>161.7 MH/s</td><td>100.0%</td><td>515.3 MH/s</td><td>318.7%</td><td>815.9 MH/s</td><td>504.6%</td><td>1.1 GH/s</td><td>681.5%</td><td>1.7 GH/s</td><td>1033.9%</td></tr>
<tr><td>500 - md5crypt, MD5 (Unix), Cisco-IOS $1$ (MD5) (Iterations: 1000)</td><td>2.5 MH/s</td><td>100.0%</td><td>6.3 MH/s</td><td>251.1%</td><td>8.7 MH/s</td><td>347.6%</td><td>10.4 MH/s</td><td>416.4%</td><td>24.7 MH/s</td><td>989.4%</td></tr>
<tr><td>3200 - bcrypt $2*$, Blowfish (Unix) (Iterations: 32)</td><td>2.5 kH/s</td><td>100.0%</td><td>13.4 kH/s</td><td>540.7%</td><td>26.7 kH/s</td><td>1073.8%</td><td>22.9 kH/s</td><td>922.9%</td><td>78.4 kH/s</td><td>3155.9%</td></tr>
<tr><td>1800 - sha512crypt $6$, SHA512 (Unix) (Iterations: 5000)</td><td>37.9 kH/s</td><td>100.0%</td><td>91.6 kH/s</td><td>241.8%</td><td>103.5 kH/s</td><td>273.0%</td><td>174.6 kH/s</td><td>460.6%</td><td>369.6 kH/s</td><td>975.0%</td></tr>
<tr><td>7500 - Kerberos 5, etype 23, AS-REQ Pre-Auth</td><td>43.1 MH/s</td><td>100.0%</td><td>186.7 MH/s</td><td>432.7%</td><td>295.0 MH/s</td><td>683.8%</td><td>383.9 MH/s</td><td>889.8%</td><td>1.0 GH/s</td><td>2427.2%</td></tr>
<tr><td>13100 - Kerberos 5, etype 23, TGS-REP</td><td>32.3 MH/s</td><td>100.0%</td><td>185.3 MH/s</td><td>573.9%</td><td>291.7 MH/s</td><td>903.4%</td><td>348.8 MH/s</td><td>1080.2%</td><td>1.0 GH/s</td><td>3123.0%</td></tr>
<tr><td>15300 - DPAPI masterkey file v1 (Iterations: 23999)</td><td>15.6 kH/s</td><td>100.0%</td><td>50.2 kH/s</td><td>322.3%</td><td>55.6 kH/s</td><td>356.7%</td><td>80.8 kH/s</td><td>519.0%</td><td>150.9 kH/s</td><td>968.9%</td></tr>
<tr><td>15900 - DPAPI masterkey file v2 (Iterations: 12899)</td><td>8.1 kH/s</td><td>100.0%</td><td>22.1 kH/s</td><td>271.9%</td><td>31.3 kH/s</td><td>385.0%</td><td>36.7 kH/s</td><td>451.0%</td><td>79.9 kH/s</td><td>981.4%</td></tr>
<tr><td>7100 - macOS v10.8+ (PBKDF2-SHA512) (Iterations: 1023)</td><td>104.1 kH/s</td><td>100.0%</td><td>272.5 kH/s</td><td>261.8%</td><td>392.5 kH/s</td><td>377.0%</td><td>442.6 kH/s</td><td>425.2%</td><td>994.6 kH/s</td><td>955.4%</td></tr>
<tr><td>11600 - 7-Zip (Iterations: 16384)</td><td>91.9 kH/s</td><td>100.0%</td><td>217.0 kH/s</td><td>236.0%</td><td>266.6 kH/s</td><td>290.0%</td><td>380.5 kH/s</td><td>413.8%</td><td>757.8 kH/s</td><td>824.2%</td></tr>
<tr><td>12500 - RAR3-hp (Iterations: 262144)</td><td>12.1 kH/s</td><td>100.0%</td><td>20.3 kH/s</td><td>167.6%</td><td>28.1 kH/s</td><td>231.7%</td><td>64.2 kH/s</td><td>528.8%</td><td>102.2 kH/s</td><td>842.3%</td></tr>
<tr><td>13000 - RAR5 (Iterations: 32799)</td><td>10.2 kH/s</td><td>100.0%</td><td>24.5 kH/s</td><td>240.6%</td><td>30.2 kH/s</td><td>297.0%</td><td>39.6 kH/s</td><td>389.3%</td><td>93.2 kH/s</td><td>916.6%</td></tr>
<tr><td>6211 - TrueCrypt RIPEMD160 + XTS 512 bit (Iterations: 1999)</td><td>66.8 kH/s</td><td>100.0%</td><td>177.3 kH/s</td><td>265.3%</td><td>232.1 kH/s</td><td>347.3%</td><td>292.4 kH/s</td><td>437.6%</td><td>669.9 kH/s</td><td>1002.5%</td></tr>
<tr><td>13400 - KeePass 1 (AES/Twofish) and KeePass 2 (AES) (Iterations: 24569)</td><td>10.9 kH/s</td><td>100.0%</td><td>19.0 kH/s</td><td>174.8%</td><td>27.3 kH/s</td><td>251.2%</td><td>67.0 kH/s</td><td>617.1%</td><td>111.2 kH/s</td><td>1024.8%</td></tr>
<tr><td>6800 - LastPass + LastPass sniffed (Iterations: 499)</td><td>651.9 kH/s</td><td>100.0%</td><td>1.5 MH/s</td><td>232.2%</td><td>2.0 MH/s</td><td>304.7%</td><td>2.5 MH/s</td><td>390.4%</td><td>6.0 MH/s</td><td>914.8%</td></tr>
<tr><td>11300 - Bitcoin/Litecoin wallet.dat (Iterations: 200459)</td><td>1.3 kH/s</td><td>100.0%</td><td>3.1 kH/s</td><td>241.5%</td><td>4.1 kH/s</td><td>325.3%</td><td>5.0 kH/s</td><td>389.9%</td><td>11.4 kH/s</td><td>892.3%</td></tr>
</tbody></table>
