<table><thead><tr><th>Card</th><th>Performance</th><th>Price</th><th>Value</th></tr></thead>
<tbody>
<tr><td>nvidia-tesla-k80</td><td>100.0</td><td>$0.45</td><td>1.00</td></tr>
<tr><td>nvidia-tesla-p4</td><td>309.6</td><td>$0.60</td><td>2.32</td></tr>
<tr><td>nvidia-tesla-t4</td><td>423.2</td><td>$0.35</td><td>5.44</td></tr>
<tr><td>nvidia-tesla-p100</td><td>559.1</td><td>$1.46</td><td>1.72</td></tr>
<tr><td>nvidia-tesla-v100</td><td>1237.8</td><td>$2.48</td><td>2.25</td></tr>
</tbody></table>
