# Run early
d-i partman/early_command string /partman_early.sh
# Language
d-i debian-installer/language string en
# Method encrypted disks
d-i partman-auto/method string crypto
# Disable disk wiping
d-i partman-auto-crypto/erase_disks boolean false
# Erase LVM, MD if needed
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-md/confirm boolean true
d-i partman-md/confirm_nooverwrite boolean true
# Confirm new parts
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
# Disable creating a root account (uses sudo instead)
d-i passwd/root-login boolean false
# Hardware clocks should always be in UTC
d-i clock-setup/utc boolean true
# Try using NTP
d-i clock-setup/ntp boolean true
# Use full disk in one partition
d-i partman-auto/choose_recipe select atomic
# Auto-enable contrib and non-free
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
d-i apt-setup/use_mirror boolean true
d-i apt-setup/services-select multiselect security, updates
d-i apt-setup/security_host string security.debian.org
# i386 multiarch
d-i apt-setup/multiarch string i386
